@import "elr-scss-functions/src/main";
@import "elr-scss-helpers/src/main";

// TODO: feature section

@mixin elr-content-section($config: ()) {
  $config: extend(
    (
      color: $text-color,
      background-color: $background-light,
    ),
    $config
  );

  $color: map-get($config, color);
  @include elr-button-classes;

  max-width: $content-width;
  width: 100%;

  .content-image-section,
  .content-section {
    width: 100%;
    background-color: $background-light;
    margin-left: auto;
    margin-right: auto;
  }

  .content-section {
    padding: ($base-fontsize * 3) ($base-fontsize * 2);

    &.rounded {
      border-radius: $border-radius;
    }

    @media (max-width: $tablet-max-width) {
      padding-top: $base-fontsize * 2;
      padding-bottom: $base-fontsize * 2;
    }

    .content-holder {
      margin: auto;
      padding: 0;

      @media (max-width: $tablet-max-width) {
        padding-bottom: 0;
      }
    }

    .content-holder,
    .button-holder {
      max-width: 960px;
    }

    .content-holder-wide,
    .button-holder-wide {
      max-width: $desktop-width;
    }

    &.content-left {
      text-align: left;

      .button-holder {
        justify-content: flex-start;
      }
    }

    &.content-center {
      text-align: center;

      .column-holder {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
      }

      .button-holder {
        justify-content: center;
      }
    }

    &.content-right {
      text-align: right;

      .button-holder {
        justify-content: flex-end;
      }
    }

    .column-holder {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .content-image-section {
    display: flex;

    @media (max-width: $tablet-max-width) {
      flex-direction: column;
    }

    &.rounded {
      border-radius: $border-radius;
      overflow: hidden;
    }

    &.flipped {
      flex-direction: row-reverse;

      @media (max-width: $tablet-max-width) {
        flex-direction: column-reverse;
      }

      figure {
        padding-left: $base-fontsize * 1.5;
        padding-right: 0;
      }

      .content-holder {
        padding-left: ($base-fontsize * 2.5);
        padding-right: ($base-fontsize * 1.5);
      }
    }

    figure {
      flex-basis: 50%;
      margin: 0;
      padding: 0 ($base-fontsize * 1.5) 0 0;
      height: 100%;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      &.padded {
        padding: $base-fontsize * 2;
      }
    }

    .content-holder {
      flex-basis: 800px;
      max-width: 50%;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      padding: ($base-fontsize * 2.5) ($base-fontsize * 2.5)
        ($base-fontsize * 2.5) ($base-fontsize * 1.5);

      @media (max-width: $tablet-max-width) {
        padding: 24px;
      }

      .heading-group {
        margin-bottom: $base-fontsize;

        h2 {
          font-size: $h2-fontsize;
        }
      }

      .button-holder {
        margin: ($base-fontsize * 2) 0 0;
      }
    }
  }

  .button-holder {
    display: flex;
    margin: ($base-fontsize * 2) auto 0;

    @media (max-width: $tablet-max-width) {
      flex-direction: column;
      margin-bottom: 0;
      margin-top: 16px;
    }

    a,
    button {
      display: block;
    }

    @media (min-width: $tablet-width) {
      button + button,
      a + a,
      a + button,
      button + a {
        margin-left: 16px;
      }
    }

    @media (max-width: $tablet-max-width) {
      button + button,
      a + a,
      a + button,
      button + a {
        margin-top: 16px;
      }
    }
  }

  .heading-group {
    h2,
    h3 {
      padding: 0;
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
      font-size: $base-fontsize;
      letter-spacing: 1px;
      font-weight: 700;
      color: $secondary-color;

      @media (max-width: $tablet-width) {
        font-size: 14px;
      }
    }

    h2 {
      font-size: $h1-fontsize;
      color: $primary-color;
      text-shadow: $text-shadow;
      font-weight: 900;

      @media (max-width: $tablet-width) {
        font-size: $h2-fontsize;
      }
    }
  }

  .content-column {
    padding: ($base-fontsize * 1.5) $base-fontsize;
    text-align: left;
    flex: 1;
    min-width: 33.333%;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    @media (max-width: $tablet-width) {
      min-width: 50%;
    }

    @media (max-width: $tablet-max-width) {
      min-width: 100%;
      padding: 0;
    }
  }

  .content-column,
  .content {
    h2,
    h3,
    h4,
    p,
    li {
      margin: ($base-fontsize * 0.5) 0;
      padding: 0;
    }

    h2 {
      font-size: $h2-fontsize;
      margin: ($h2-fontsize * 0.5) 0;
    }

    h3 {
      font-size: $h3-fontsize;
      margin: ($h3-fontsize * 0.5) 0;
    }

    p {
      font-size: $base-fontsize * 1.125;
      line-height: 1.5;

      @media (max-width: $tablet-max-width) {
        font-size: 14px;
      }
    }

    ul,
    ol {
      margin: ($base-fontsize * 1.5) 0 ($base-fontsize * 1.5) $base-fontsize;

      li {
        list-style-position: inside;
        font-size: $base-fontsize * 1.125;
      }
    }

    blockquote {
      margin: ($base-fontsize) 0;
      padding: ($base-fontsize * 0.5) 0 ($base-fontsize * 0.5)
        ($base-fontsize * 2);
      border-left: 6px solid $primary-color-light;

      p {
        font-style: italic;
      }
    }
  }
}
