@import "./src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-config/src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto 48px;
  padding: ($base-fontsize * 1.5);
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 900;
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.subheading {
  font-size: $base-fontsize;
  color: $gray;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
  display: flex;
  flex-wrap: wrap;
}

.content-section-wrapper {
  @include elr-content-section;
}
